[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
markdown = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
django-import-export = {extras = ["xlsx"], version = "*"}
django-autocomplete-light = "*"
django-extensions = "*"
django-jazzmin = "*"
python-dotenv = "*"

[dev-packages]
ruff = "*"
ipython = "*"
coverage = "*"

[requires]
python_version = "3.13"
