{% extends "admin/base_site.html" %} {% block content %}
<h1>Duplicar Módulos</h1>
<p>Seleccionaste los siguientes módulos para duplicar:</p>
<ul>
  {% for modulo in modulos %}
  <li>
    {{ modulo.nombre }} - {{ modulo.curso }} - {{modulo.ciclo}} -
    {{modulo.año_academico }}
  </li>
  {% endfor %}
</ul>

<p>Introduce el nuevo año académico:</p>

<form method="post">
  {% csrf_token %}
  <input
    type="text"
    name="nuevo_anio"
    placeholder="Ej: 2025-26"
    pattern="^\d{4}-\d{2}$"
    required
  />
  <br /><br />
  <input type="submit" value="Duplicar Módulos" class="button" />
</form>

<p>
  <a href="{% url 'admin:seguimientos_modulo_changelist' %}"
    >Volver a la lista de módulos</a
  >
</p>
{% endblock %}
